In [27]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime

In [28]:
sample_types = {"id": str, "project_is_approved": np.float64}
sample_sub = pd.read_csv("data/donors/sample_submission.zip", dtype=sample_types)
sample_sub.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>project_is_approved</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>p233245</td>
      <td>0.847682</td>
    </tr>
    <tr>
      <th>1</th>
      <td>p096795</td>
      <td>0.847682</td>
    </tr>
    <tr>
      <th>2</th>
      <td>p236235</td>
      <td>0.847682</td>
    </tr>
    <tr>
      <th>3</th>
      <td>p233680</td>
      <td>0.847682</td>
    </tr>
    <tr>
      <th>4</th>
      <td>p171879</td>
      <td>0.847682</td>
    </tr>
  </tbody>
</table>
</div>

In [21]:
train_types = {"project_is_approved": np.float64}
train = pd.read_csv("data/donors/train.zip", dtype=train_types)
train["project_submitted_datetime"] = pd.to_datetime(train["project_submitted_datetime"])
train.shape

(182080, 16)

In [22]:
train.dtypes

id                                                      object
teacher_id                                              object
teacher_prefix                                          object
school_state                                            object
project_submitted_datetime                      datetime64[ns]
project_grade_category                                  object
project_subject_categories                              object
project_subject_subcategories                           object
project_title                                           object
project_essay_1                                         object
project_essay_2                                         object
project_essay_3                                         object
project_essay_4                                         object
project_resource_summary                                object
teacher_number_of_previously_posted_projects             int64
project_is_approved                                    float64
dtype: object

In [23]:
train.iloc[0,:]

id                                                                                        p036502
teacher_id                                                       484aaf11257089a66cfedc9461c6bd0a
teacher_prefix                                                                                Ms.
school_state                                                                                   NV
project_submitted_datetime                                                    2016-11-18 14:45:59
project_grade_category                                                              Grades PreK-2
project_subject_categories                                                    Literacy & Language
project_subject_subcategories                                                            Literacy
project_title                                                            Super Sight Word Centers
project_essay_1                                 Most of my kindergarten students come from low...
project_essay_2                                 I currently have a differentiated sight word c...
project_essay_3                                                                               NaN
project_essay_4                                                                               NaN
project_resource_summary                        My students need 6 Ipod Nano's to create and d...
teacher_number_of_previously_posted_projects                                                   26
project_is_approved                                                                             1
Name: 0, dtype: object

In [24]:
resources = pd.read_csv("data/donors/resources.zip")
resources.shape

(1541272, 4)

In [25]:
resources.columns

Index(['id', 'description', 'quantity', 'price'], dtype='object')

In [26]:
resources.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>description</th>
      <th>quantity</th>
      <th>price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>p233245</td>
      <td>LC652 - Lakeshore Double-Space Mobile Drying Rack</td>
      <td>1</td>
      <td>149.00</td>
    </tr>
    <tr>
      <th>1</th>
      <td>p069063</td>
      <td>Bouncy Bands for Desks (Blue support pipes)</td>
      <td>3</td>
      <td>14.95</td>
    </tr>
    <tr>
      <th>2</th>
      <td>p069063</td>
      <td>Cory Stories: A Kid's Book About Living With Adhd</td>
      <td>1</td>
      <td>8.45</td>
    </tr>
    <tr>
      <th>3</th>
      <td>p069063</td>
      <td>Dixon Ticonderoga Wood-Cased #2 HB Pencils, Bo...</td>
      <td>2</td>
      <td>13.59</td>
    </tr>
    <tr>
      <th>4</th>
      <td>p069063</td>
      <td>EDUCATIONAL INSIGHTS FLUORESCENT LIGHT FILTERS...</td>
      <td>3</td>
      <td>24.95</td>
    </tr>
  </tbody>
</table>
</div>