In [29]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from datetime import datetime

In [30]:
sample_types = {"id": str, "project_is_approved": np.float64}
sample_sub = pd.read_csv("data/donors/sample_submission.zip", dtype=sample_types)
sample_sub.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>project_is_approved</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>p233245</td>
      <td>0.847682</td>
    </tr>
    <tr>
      <th>1</th>
      <td>p096795</td>
      <td>0.847682</td>
    </tr>
    <tr>
      <th>2</th>
      <td>p236235</td>
      <td>0.847682</td>
    </tr>
    <tr>
      <th>3</th>
      <td>p233680</td>
      <td>0.847682</td>
    </tr>
    <tr>
      <th>4</th>
      <td>p171879</td>
      <td>0.847682</td>
    </tr>
  </tbody>
</table>
</div>

In [33]:
train_types = {"project_is_approved": np.float64}
train = pd.read_csv("data/donors/train.zip", dtype=train_types)
train["project_submitted_datetime"] = pd.to_datetime(train["project_submitted_datetime"])
train.shape

(182080, 16)

In [34]:
train.dtypes

id                                                      object
teacher_id                                              object
teacher_prefix                                          object
school_state                                            object
project_submitted_datetime                      datetime64[ns]
project_grade_category                                  object
project_subject_categories                              object
project_subject_subcategories                           object
project_title                                           object
project_essay_1                                         object
project_essay_2                                         object
project_essay_3                                         object
project_essay_4                                         object
project_resource_summary                                object
teacher_number_of_previously_posted_projects             int64
project_is_approved                                    float64
dtype: object

In [35]:
train.iloc[0,:]

id                                                                                        p036502
teacher_id                                                       484aaf11257089a66cfedc9461c6bd0a
teacher_prefix                                                                                Ms.
school_state                                                                                   NV
project_submitted_datetime                                                    2016-11-18 14:45:59
project_grade_category                                                              Grades PreK-2
project_subject_categories                                                    Literacy & Language
project_subject_subcategories                                                            Literacy
project_title                                                            Super Sight Word Centers
project_essay_1                                 Most of my kindergarten students come from low...
project_essay_2                                 I currently have a differentiated sight word c...
project_essay_3                                                                               NaN
project_essay_4                                                                               NaN
project_resource_summary                        My students need 6 Ipod Nano's to create and d...
teacher_number_of_previously_posted_projects                                                   26
project_is_approved                                                                             1
Name: 0, dtype: object

In [36]:
resources = pd.read_csv("data/donors/resources.zip")
resources.shape

(1541272, 4)

In [37]:
resources.columns

Index(['id', 'description', 'quantity', 'price'], dtype='object')

In [38]:
resources.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>description</th>
      <th>quantity</th>
      <th>price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>p233245</td>
      <td>LC652 - Lakeshore Double-Space Mobile Drying Rack</td>
      <td>1</td>
      <td>149.00</td>
    </tr>
    <tr>
      <th>1</th>
      <td>p069063</td>
      <td>Bouncy Bands for Desks (Blue support pipes)</td>
      <td>3</td>
      <td>14.95</td>
    </tr>
    <tr>
      <th>2</th>
      <td>p069063</td>
      <td>Cory Stories: A Kid's Book About Living With Adhd</td>
      <td>1</td>
      <td>8.45</td>
    </tr>
    <tr>
      <th>3</th>
      <td>p069063</td>
      <td>Dixon Ticonderoga Wood-Cased #2 HB Pencils, Bo...</td>
      <td>2</td>
      <td>13.59</td>
    </tr>
    <tr>
      <th>4</th>
      <td>p069063</td>
      <td>EDUCATIONAL INSIGHTS FLUORESCENT LIGHT FILTERS...</td>
      <td>3</td>
      <td>24.95</td>
    </tr>
  </tbody>
</table>
</div>

In [42]:
help(train.project_essay_1.map)

Help on method map in module pandas.core.series:

map(arg, na_action=None) method of pandas.core.series.Series instance
    Map values of Series using input correspondence (which can be
    a dict, Series, or function)

    Parameters
    ----------
    arg : function, dict, or Series
    na_action : {None, 'ignore'}
        If 'ignore', propagate NA values, without passing them to the
        mapping function

    Returns
    -------
    y : Series
        same index as caller

    Examples
    --------

    Map inputs to outputs (both of type `Series`)

    >>> x = pd.Series([1,2,3], index=['one', 'two', 'three'])
    >>> x
    one      1
    two      2
    three    3
    dtype: int64

    >>> y = pd.Series(['foo', 'bar', 'baz'], index=[1,2,3])
    >>> y
    1    foo
    2    bar
    3    baz

    >>> x.map(y)
    one   foo
    two   bar
    three baz

    If `arg` is a dictionary, return a new Series with values converted
    according to the dictionary's mapping:

    >>> z = {1: 'A', 2: 'B', 3: 'C'}

    >>> x.map(z)
    one   A
    two   B
    three C

    Use na_action to control whether NA values are affected by the mapping
    function.

    >>> s = pd.Series([1, 2, 3, np.nan])

    >>> s2 = s.map('this is a string {}'.format, na_action=None)
    0    this is a string 1.0
    1    this is a string 2.0
    2    this is a string 3.0
    3    this is a string nan
    dtype: object

    >>> s3 = s.map('this is a string {}'.format, na_action='ignore')
    0    this is a string 1.0
    1    this is a string 2.0
    2    this is a string 3.0
    3                     NaN
    dtype: object

    See Also
    --------
    Series.apply: For applying more complex functions on a Series
    DataFrame.apply: Apply a function row-/column-wise
    DataFrame.applymap: Apply a function elementwise on a whole DataFrame

    Notes
    -----
    When `arg` is a dictionary, values in Series that are not in the
    dictionary (as keys) are converted to ``NaN``. However, if the
    dictionary is a ``dict`` subclass that defines ``__missing__`` (i.e.
    provides a method for default values), then this default is used
    rather than ``NaN``:

    >>> from collections import Counter
    >>> counter = Counter()
    >>> counter['bar'] += 1
    >>> y.map(counter)
    1    0
    2    1
    3    0
    dtype: int64

## Character Count

In [43]:
[(train.project_essay_1.map(len).min(), train.project_essay_1.map(len).max()),
 (train.project_essay_2.map(len, na_action='ignore').min(), train.project_essay_2.map(len, na_action='ignore').max()),
 (train.project_essay_3.map(len, na_action='ignore').min(), train.project_essay_3.map(len, na_action='ignore').max()),
 (train.project_essay_4.map(len, na_action='ignore').min(), train.project_essay_4.map(len, na_action='ignore').max())]

[(50, 2760), (248, 5224), (250.0, 1675.0), (180.0, 1178.0)]

In [45]:
import re
def wc(series):
    return series.map(lambda essay: len(re.findall(r'\w+', essay)), na_action = 'ignore')
    

[(wc(train.project_essay_1).min(), wc(train.project_essay_1).max()),
 (wc(train.project_essay_2).min(), wc(train.project_essay_2).max()),
 (wc(train.project_essay_3).min(), wc(train.project_essay_3).max()),
 (wc(train.project_essay_4).min(), wc(train.project_essay_4).max())]

[(0, 1123), (14, 495), (32.0, 297.0), (22.0, 199.0)]

In [53]:
from shared.donors.transform import ESSAY_COUNT, count_essays, col_name
import matplotlib.pyplot as plt
%matplotlib inline

count_essays(train)
print(train[ESSAY_COUNT].value_counts())
print(train[[col_name(1), col_name(2), col_name(3), col_name(4)]].head())
plt.hist(train[ESSAY_COUNT], bins = range(5))
plt.show()

ImportError: cannot import name 'col_name'